    <!-- Start: Carousel Hero -->
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="jumbotron hero-photography carousel-hero">
                    <h1 class="hero-title">Connect with people</h1>
                    <p class="hero-subtitle">Join your colleagues, classmates, and friends on SuitUp.</p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="jumbotron hero-nature carousel-hero">
                    <h1 class="hero-title">Explore Opportunities</h1>
                    <p class="hero-subtitle">Find open jobs and internships.</p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="jumbotron hero-technology carousel-hero">
                    <h1 class="hero-title">Build your professional Network</h1>
                    <p class="hero-subtitle">Meetup with like-minded professionals to network and share ideas.</p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
        <ol
            class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
    </div>
    <!-- End: Carousel Hero -->
    <!-- Start: Team with rotating cards -->
    <section class="card-section-imagia">
        <!-- Start: H2 -->
        <h2>Recruiters on SuitUp</h2>
        <!-- End: H2 -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover image -->
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <!-- End: cover image -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <!-- End: user image -->
                                <!-- Start: texte -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">John Doe</h3>
                                    <p class="subtitle-imagia">Subtitle </p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves.</em></p>
                                </div>
                                <!-- End: texte -->
                                <!-- Start: footer -->
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix interneciva
                                            aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                    </div>
                                </div>
                                <!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    <!-- End: icons -->
                                </div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: back -->
                        </div>
                        <!-- End: card -->
                    </div>
                    <!-- End: card container -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover gradient -->
                                <div class="cover-imagia cover-gradient"></div>
                                <!-- End: cover gradient -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <!-- End: user image -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">John Doe</h3>
                                    <p class="subtitle-imagia">Subtitle </p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix interneciva
                                            aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                    </div>
                                </div>
                                <!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    <!-- End: icons -->
                                </div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: back -->
                        </div>
                        <!-- End: card -->
                    </div>
                    <!-- End: card container -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover image -->
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <!-- End: cover image -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <!-- End: user image -->
                                <!-- Start: texte -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">John Doe</h3>
                                    <p class="subtitle-imagia">Subtitle </p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em></p>
                                </div>
                                <!-- End: texte -->
                                <!-- Start: footer -->
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix interneciva
                                            aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                    </div>
                                </div>
                                <!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    <!-- End: icons -->
                                </div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: back -->
                        </div>
                        <!-- End: card -->
                    </div>
                    <!-- End: card container -->
                </div>
            </div>
        </div>
