<div>
    <div class="row">
      <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
        <div class="card border-0 rounded-0 h-100">
          <div class="card-title mb-1 p-3">
            <div class="row">
              <div class="col-lg-6"><h4>Personal Details</h4></div>
              <div class="col-lg-6">
            <a class="nav-link active" routerLink='/editprofile' routerLinkActive="active">
              <i class="fa fa-pencil"> Edit</i></a></div>
          </div></div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="husername" class="col-sm-2 col-form-label text-nowrap">Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control rounded-0" id="husername" aria-describedby="emailHelp"
                    placeholder="Enter name">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label text-nowrap">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control rounded-0" id="staticEmail" aria-describedby="emailHelp"
                    placeholder="Enter email">
                </div>
              </div>
              <div class="form-group row">
                <label for="husername" class="col-sm-2 col-form-label text-nowrap">Address:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control rounded-0" id="husername" aria-describedby="emailHelp"
                    placeholder="Enter Address">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label "></label>
                <div class="col-sm-10">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="hcustomControlInline" checked>
                    <label class="custom-control-label" for="hcustomControlInline">Remember me</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 mb-3">
                  <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2">Submit</button>
                  <button type="button " class="btn btn-outline-lightning rounded-0 mb-2">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>