.icon-style {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid;
    font-size: 0.9rem;
}
body {
    height: 100vh;
    margin: 0;
    padding-top: 60px;
}
main {
    display: flex;
    height: 100%;
}
main .pages {
    overflow: auto;
}
main .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0.7;
    display: none;
}
main .overlay.show {
    display: block;
}
@media (min-width: 768px) {
    main .overlay.show {
        display: none;
   }
}
@media (min-width: 768px) {
    .toggeled-sidebar main .overlay {
        display: none;
   }
}

.wrapper.default-theme {
    background: #f2f3f8;
}
.wrapper.default-theme nav.navbar {
    background: #242939;
    border-color: rgba(110, 120, 153, .3);
}
.wrapper.default-theme nav.navbar .navbar-brand {
    color: #b9bece;
}
.wrapper.default-theme nav.navbar .left-nav input.navbar-search {
    background: #282f48;
    color: #6e7899;
}
.wrapper.default-theme nav.navbar .left-nav input.navbar-search::placeholder {
    color: rgba(110, 120, 153, .6);
}
.wrapper.default-theme nav.navbar .right-nav {
    background: #242939;
}
.wrapper.default-theme nav.navbar .nav-link {
    color: #6e7899;
}
.wrapper.default-theme nav.navbar .nav-link i {
    border-color: #6e7899;
    background: #282f48;
}
.wrapper.default-theme nav.navbar .nav-link:hover {
    color: #9ba2b9;
}
.wrapper.default-theme nav.navbar .nav-alert {
    border-color: #2f3546;
}
.wrapper.default-theme nav.navbar .nav-alert.notifications {
    background-color: #ff61c5;
    box-shadow: 0px 0px 4px #ff61c5;
}
.wrapper.default-theme nav.navbar .nav-alert.messages {
    background-color: #61b8ff;
    box-shadow: 0px 0px 4px #61b8ff;
}
.wrapper.default-theme main .overlay {
    background: #242939;
}
.wrapper.default-theme main .sidebar {
    background: #fff;
}
.wrapper.default-theme main .sidebar > div {
    border-color: rgba(110, 120, 153, .1);
}
.wrapper.default-theme main .sidebar a.sidebar-link {
    color: #6e7899;
}
.wrapper.default-theme main .sidebar .sidebar-profile .name {
    color: #6e7899;
}
.wrapper.default-theme main .sidebar .sidebar-profile .role {
    color: rgba(110, 120, 153, .8);
}
.wrapper.default-theme main .sidebar .sidebar-menu .menu-header {
    color: rgba(110, 120, 153, .5);
}
.wrapper.default-theme main .sidebar .sidebar-menu .menu-items a {
    color: rgba(110, 120, 153, .7);
}
.wrapper.default-theme main .sidebar .sidebar-menu .menu-items a i {
    color: #c4cff9;
    color: #abb7da;
    color: rgba(140, 165, 239, 0.6);
    border: none;
    width: auto;
    font-size: 1rem;
}
.wrapper.default-theme main .sidebar .sidebar-menu .menu-items a:hover, .wrapper.default-theme main .sidebar .sidebar-menu .menu-items a.active {
    background: #f5f5f9;
    color: rgba(110, 120, 153, .9);
}
.wrapper.default-theme main .sidebar .sidebar-menu .menu-items a:hover i, .wrapper.default-theme main .sidebar .sidebar-menu .menu-items a.active i {
    color: #95b0ff;
}
.wrapper.default-theme .card {
    box-shadow: 1px 1px 2px rgba(91, 101, 130, .1);
}
.wrapper.default-theme .card .card-title {
    color: rgba(110, 120, 153, .8);
}
.wrapper.default-theme .card .card-icon i {
    color: #98a4c7;
}
.wrapper.default-theme .card .card-footer {
    border-top: 1px solid #f2f3f8;
    background: none;
}
.wrapper.default-theme .card .card-title {
    border-bottom: 1px solid #f2f3f8;
}
.wrapper.default-theme .table th, .wrapper.default-theme .table td {
    border-top: 1px solid #ebedf4;
}
.wrapper.default-theme .table thead th {
    border-bottom: 2px solid #ebedf4;
}
.wrapper.default-theme .table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f6fa;
}
.wrapper.default-theme .table.table-hover tbody tr:hover {
    background-color: #f5f6fa;
}
.wrapper.default-theme .btn {
    font-size: 0.9rem;
}
.wrapper.default-theme .btn.btn-lightning {
    color: #f0f3ff;
    background-color: #5b6582;
    border-color: #5b6582;
}
.wrapper.default-theme .btn.btn-lightning:hover {
    background-color: #4c5671;
}
.wrapper.default-theme .btn.btn-outline-lightning {
    color: #5b6582;
    background-color: transparent;
    border-color: #5b6582;
}
.wrapper.default-theme .btn.btn-outline-lightning:hover {
    color: #f0f3ff;
    background-color: #5b6582;
    border-color: #5b6582;
}
.wrapper.default-theme .form-control {
    font-size: 0.9rem;
}
.wrapper.default-theme .text-lightning {
    color: #98a4c7;
}

