<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="personalDetailsForm" [optional]="false">
    <ng-template matStepLabel>Personal Details</ng-template>
    <app-personal-form [personalDetailsForm] = "personalDetailsForm"></app-personal-form>
  </mat-step>

  <mat-step [stepControl]="educationDetailsForm" [optional]="isOptional">
      <ng-template matStepLabel>Education Details</ng-template>
      <app-education-form [educationDetailsForm]="educationDetailsForm"></app-education-form>
  </mat-step>

  <mat-step [stepControl]="experienceDetailsForm" [optional]="isOptional">
      <ng-template matStepLabel>Experience</ng-template>
      <app-experience-form [experienceDetailsForm]="experienceDetailsForm"></app-experience-form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup" [optional]="isOptional">
    <!-- #enddocregion optional -->
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Additional Details</ng-template>

      <div>
        <div class="row">
          <div class="col-md-12 col-lg-12 mb-4 align-items-stretch">
            <div class="card border-0 rounded-0 h-100">
              <div class="card-title mb-1 p-3">
                <h5>Projects</h5>
              </div>
              <div class="card-body">

                <div class="form-group row">
                  <label for="projtitle" class="col-sm-2 col-form-label text-nowrap">Project title:</label>
                  <div class="col-xs-4">
                    <input type="text" id='projtitle'
                      onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                      class="form-control" aria-describedby="emailHelp" placeholder="Enter your project title"
                      formControlName="projtitle" required>
                  </div>&nbsp;&nbsp;&nbsp;
                  <label for="duration" class="col-sm-2 col-form-label text-nowrap">Duration:</label>
                  <div class="col-xs-4">
                    <input type="text" class="form-control" id="duration" aria-describedby="emailHelp"
                      placeholder="yyyy"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      maxlength="4" formControlName="duration" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-2 col-form-label text-nowrap">Description:</label>
                  <div class="col-xs-4">
                    <input type="text" id='degree'
                      onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                      class="form-control" aria-describedby="emailHelp" placeholder="Describe your project"
                      formControlName="description" required>
                  </div>&nbsp;&nbsp;&nbsp;
                  <label for="team" class="col-sm-2 col-form-label text-nowrap">Team members:</label>
                  <div class="col-xs-4">
                    <input class="form-control" id="stream" aria-describedby="emailHelp"
                      placeholder="Add your team members" type="text"
                      onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                      maxlength="10" formControlName="team" required>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>

    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>