<footer id="myFooter" style="padding:0px;">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help Desk</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li></li>
                </ul>
                <p class="footer-copyright">© 2020 Copyright ~ Designed By &nbsp;<a href="#">VK</a></p>
            </div>
        </div>
    </div>
</footer>
